<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hype Game</title>
  <meta name="description" content="List of all the most hyped releases in the urban style world">
  <meta name="author" content="John Sparwasser">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        <p><a href="/">HYPEGAME</a> | Analytics</p>
    </header>

    <div id="hypegame" class="analytics">

        <h1>User Analytics Event List</h1>

        <analytics></analytics>

    </div>

    {% include 'backend-js' %}

    <div class="copyright">
        <p>Copyright <a href="http://johnsparwasser.com">John Sparwasser</a> <script>document.write(new Date().getFullYear())</script></p>
    </div>

</body>
</html>


