<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hype Game</title>
  <meta name="description" content="List of all the most hyped releases in the urban style world">
  <meta name="author" content="John Sparwasser">
</head>

<body>

<p>Whatup fam</p>

</body>
</html>
