{% extends 'master' %}

{% block content %}

    <div class="release-column">

    {% for release in releases %}

    <release
        rid="{{ release.id }}"
        name="{{ release.name }}"
        description="{{ release.description }}"
        image="{{ release.image }}"
        hype="{{ release.hype }}"
        hyped="{{ (release.hype_events.length > 0) }}"
        csrf="{{ csrfToken }}"
        authenticated="{{ context.isAuthenticated() }}"
        username="{{ context.getUserName() }}"
        user_id="{{ context.getUserId() }}"
        visitor_id="{{ context.getVisitorId() }}"
        ip_address="{{ context.getIpAddress() }}"
    >
    </release>

    {% endfor %}

    </div>

{% endblock %}

