{% extends 'master' %}

{% block content %}

    <div class="release-column">

    {% for release in releases %}

        <div class="release">
            <h1><span class="hype">🔥</span> {{ release.hype }}</h1>
            <img src="{{ release.image }}" alt="{{ release.name + ' picture' }}" />
            <h2>{{ release.name }}</h2>
            <p>{{ release.description }}</p>
            <div class="separator"></div>
        </div>

    {% endfor %}

    </div>

    <div class="copyright">
        <p>Copyright <a href="http://johnsparwasser.com">John Sparwasser</a> <script>document.write(new Date().getFullYear())</script></p>
    </div>

{% endblock %}

