<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hype Game</title>
  <meta name="description" content="List of all the most hyped releases in the urban style world">
  <meta name="author" content="John Sparwasser">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        {% if context.isAdmin() %}
            <p><a href="/">HYPEGAME</a> | <a href="/add-release">Add Release</a></p>
        {% else %}
            <p><a href="/">HYPEGAME</a></p>
        {% endif %}

        {% if context.isAuthenticated() %}
            <p>Hello {{ context.getUser().username }} | <a href="/logout">Logout</a></p>
        {% else %}
            <p><a href="/facebook/login">Login with Facebook</a></p>
        {% endif %}
    </header>


    {% block content %}

    {% endblock %}

    {% include 'js' %}

</body>
</html>

