<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hype Game</title>
  <meta name="description" content="List of all the most hyped releases in the urban style world">
  <meta name="author" content="John Sparwasser">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        {% if context.isAdmin() %}
            <p><a href="/">HYPEGAME</a> | <a href="/add-release">Add Release</a></p>
        {% else %}
            <p><a href="/">HYPEGAME</a></p>
        {% endif %}

        {% if context.isAuthenticated() %}
            <p>Hello {{ context.getUser().username }} | <a href="/logout">Logout</a></p>
        {% else %}
            <p><a href="/facebook/login">Login with Facebook</a></p>
        {% endif %}
    </header>

    <div id="hypegame">

        {% block content %}

        {% endblock %}

    </div>

    {% include 'js' %}

    <div class="copyright">
        <p>Copyright <a href="http://johnsparwasser.com">John Sparwasser</a> <script>document.write(new Date().getFullYear())</script></p>
    </div>

</body>
</html>

